<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleDisplayName</key>
    <string>SageMath {{ sage_version }}</string>
    <key>CFBundleExecutable</key>
    <string>SageMath</string>
    <key>CFBundleIconFile</key>
    <string>Sage.icns</string>
    <key>CFBundleIdentifier</key>
    <string>org.computop.SageMath</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>SageMath</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>{{ sage_version }}</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>{{ sage_long_version }}</string>
    <key>LSHasLocalizedDisplayName</key>
    <false/>
    <key>LSRequiresCarbon</key>
    <true/>
    <key>NSAppleScriptEnabled</key>
    <false/>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © {{ year }} William Stein, Marc Culler, Nathan Dunfield, Matthhias Görner and others.</string>
    <key>NSRequiresAquaSystemAppearance</key>
    <string>No</string>
  </dict>
</plist>
