{"argv": ["/var/tmp/sage-{{ sage_version }}-current/venv/bin/sage", "--python", "-m", "sage.repl.ipython_kernel", "-f", "{connection_file}"], "display_name": "SageMath {{ sage_version }}", "language": "sage"}
