.DS_Store
build
__pycache__
*.dmg
*.bak
*.pkg
backup
repo
files_to_sign*
SageMath-*.*/SageMath*
SageMath-*.*/Recommended*
Sage_framework/dev_id.py
TclTk_frameworks/DEV_ID.txt
TclTk_frameworks/Frameworks/
TclTk_frameworks/Tcl
TclTk_frameworks/Tk
package/IDs.sh
package/packages
main_ex/SageMath
