.DS_Store
build
ARCHIVE
__pycache__
*.dmg
IDs.sh
*.bak
*.pkg
backup
repo
xcrun_help
files_to_sign*
SageMath-*.*/SageMath*
SageMath-*.*/Recommended*
Sage_framework/dev_id.py
TclTk_frameworks/Frameworks/
TclTk_frameworks/Tcl
TclTk_frameworks/Tk
package/packages
package/local_share
package/local_bin/sage
package/local_texlive
package/Distribution
main_ex/SageMath
jinja/output
