<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Notebooks</string>
	<key>CFBundleGetInfoString</key>
	<string>SageNotebooks</string>
	<key>CFBundleIdentifier</key>
	<string>org.computop.notebooks</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SageNotebooks __VERSION__</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>SageNotebooks __VERSION__</string>
	<key>CFBundleLongVersionString</key>
	<string>SageNotebooks __VERSION__</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>__VERSION__</string>
</dict>
</plist>
